{% if page.github_comments_issueid and site.github_comments_repository %}
    
<div id="gh-comments">
    <h5>COMMENTS</h5>
    <div id="gh-comments-list"></div>
</div>

<script 
  src="https://code.jquery.com/jquery-3.4.1.min.js" 
  integrity="sha384-vk5WoKIaW/vJyUAd9n/wmopsmNhiy+L2Z+SBxGYnUkunIxVxAv/UtMOhba/xskxh" 
  crossorigin="anonymous">
</script>

<script src="{{ site.baseurl }}/assets/js/github-comments.js"> </script>

<script type="text/javascript"> 
    DoGithubComments ( 
        "{{ site.github_comments_repository }}",
        "{{ page.github_comments_issueid }}"
    ); 
</script>

<noscript>Please enable JavaScript to view comments.</noscript>

{% endif %}